<div class="row middle-xs">
  <div class="col-xs-6 col-md-7">
    <div class="field">
      <%= f.label :name, "Nom*" %>
      <%= f.text_field :name, placeholder: "Nom", required: true, class: "subtitle-1" %>
    </div>
  </div>
  <div class="col-xs-6 col-md-5 end-xs">
    <%= f.submit "Enregistrer" %>
  </div>
</div>