
<div class="sidebar">
  <div class="sidebar__logo">
    <%= image_pack_tag('logos/logo_text.svg') %>
  </div>
  <div class="sidebar__item">
    <div class="link">
      <span class="icon"></span>
      <a href="#">Chants</a>
    </div>
    <div class="action">
      <span class="action__add"></span>
    </div>
  </div>
  <div class="sidebar__item">
    <div class="link">
      <span class="icon"></span>
      <a href="#">Setlists</a>
    </div>
    <div class="action">
      <span class="action__add"></span>
    </div>
  </div>
  <div class="sidebar__item">
    <div class="link">
      <span class="icon"></span>
      <a href="#">Commencer une diffusion</a>
    </div>
  </div>
</div>