input {
  background-color: var(--light-grey);
  border: 1.5px solid transparent;
  border-radius: 2px;
  padding: 8px 10px;
  font-weight: 400!important;
  max-width: calc(100% - 1rem);
  &:focus {
    outline: none;
    border-color: var(--pink);
  }
}

input[type="submit"] {
  font-size: 14px;
  font-weight: 700!important;
  width: initial;
  color: white;
  background-color: var(--purple);
  border-radius: 4px;
  padding: 9px 15px;
  box-shadow: 0px 2px 8px rgba(57, 0, 153, 0.2);
  transition: all .3s ease-in-out;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 12px rgba(57, 0, 153, 0.25);
  }
  &:focus {
    border-color: transparent;
    background-color: var(--pink);
  }
}

.search {
  min-width: 210px;
  max-width: 250px;
  .search__input {
    width: 100%;
    font-family: "icomoon", "Lato";
    &:focus {
      outline: none;
      border-color: transparent;
    }
  }
}
