<div class="container">
  <h1 class="title-3">Setlists</h1>
</div>

<div data-behavior="vue" data-component="setlists" id="setlists">

  <table-display
    url_new="<%= new_setlist_path %>"
    new_link_text="Ajouter"
    placeholder="Rechercher par nom &#xe96e;"
    :data="setlists"
    :filter_fc="filter" 
  >
    <template v-slot:table_head>
      <th>Nom</th>
      <th>Nombre de titres</th>
      <th>Durée totale</th>
    </template>

    <template v-slot:table_item="{ item: setlist }">
      <td>{{ setlist.name }}</td>
      <td>{{ setlist.number_of_songs }}</td>
      <td>{{ setlist.duration_f }}</td>
      <td><a v-bind:href="url(setlist)">Modifier</a></td>
    </template>

  </table-display>

</div>

<%= javascript_tag do %>
  var setlists_data = <%= @setlists.html_safe %>
<% end %>