<div data-behavior="vue" data-component="broadcast">

    <div class="flex-content">
        <div class="container">
            <h2 class="subtitle-1">Écrans disponibles</h2>

            <div class="screen__form">
                <input type="text" v-model="screenName" placeholder="Nommez votre écran">
                <span class="separator"></span>
                <button>
                    <span class="icon-broadcast"></span>
                    Diffuser sur cet écran
                </button>
            </div>
        </div>

        <div class="container">
            <h2 class="subtitle-1">Setlists et chants</h2>

            <div class="entity__association">
                <div class="search">
                    <input type="text" v-model="filter" placeholder='Rechercher un titre/setlist' class="search__input">
                </div>

                <pin-list :lists="[setlists_list, songs_list]" v-bind:separate="true"/>
            </div>

        </div>
    </div>

</div>

<%= javascript_tag do %>
  var songs_data = <%= @songs.html_safe %>
  var setlists_data = <%= @setlists.html_safe %>
<% end %>

