<div class="container">
  <h1 class="title-3">Chants</h1>
</div>

<div data-behavior="vue" data-component="songs" id="songs">
  <table-display
    url_new="<%= new_song_path %>"
    new_link_text="Ajouter"
    placeholder="Rechercher par titre/artiste &#xe96e;"
    :data="songs"
    :filter_fc="filter" 
  >
    <template v-slot:table_head>
      <th>Titre</th>
      <th>Artiste</th>
      <th>Durée</th>
    </template>

    <template v-slot:table_item="{ item: song }">
      <td>{{ song.title }}</td>
      <td>{{ song.artist }}</td>
      <td>{{ song.duration_formated }}</td>
      <td><a v-bind:href="url(song)">Modifier</a></td>
    </template>

  </table-display>
</div>

<%= javascript_tag do %>
  var songs_data = <%= @songs.html_safe %>
<% end %>

