<div class="container">
  <h1 class="title-3">Chants</h1>
</div>

<div data-behavior="vue" data-songs="<%= @songs.to_json %>">
  <div class="container actions__header">
    <div class="search">
      <input type="text" v-model="filter" placeholder='Recherche par titre/artiste &#xe96e;' class="search__input">
    </div>
    <div class="actions__links">
      <div class="cta">
        <%= link_to "Ajouter", new_song_path %>
      </div>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Titre</th>
        <th>Artiste</th>
        <th>Durée</th>
      </tr>
    </thead>
    <tbody>
      <template v-for="(song, i) in songs_by_page">
        <tr :key="i">
          <td>{{ song.title }}</td>
          <td>{{ song.artist }}</td>
          <td>{{ song.duration }}</td>
          <td><a v-bind:href="url(song)">Modifier</a></td>
        </tr>
        <tr class="separator"></tr>
      </template>
    </tbody>
  </table>

  <div class="container">
    <span @click="prevPage" class="action__back icon-player-skip-back" v-if="start > 0"></span>
    <span @click="nextPage" class="action__next icon-player-skip-forward" v-if="end < filtered_songs.length"></span>
  </div>
</div>

<%= javascript_pack_tag 'songs' %>
