<div class="container">
  <%= form_for @song do |f| %>
    <%= render "songs/shared/form", f: f %>

    <h5>Structure</h5>

    <div data-behavior="vue" data-chords="<%= @song.chords %>">
      <app v-bind:chords="filtered_chords"></app>
      <input type="hidden" name="song[chords]" v-bind:value="JSON.stringify(chords)">
    </div>

  <% end %>
</div>




<%= javascript_pack_tag 'song' %>