.setlist__panel {
  min-height: 100vh;
  max-height: 100vh;
  border-left: 2px solid var(--purple);
  overflow-y: sc;
}

@media screen and (max-width: $breakpoint) {
  .setlist__panel {
    width: 100%;
    border-left: none;
    background-color: white;
    transform: translateY(100%);
  }
}