.setlist__item {
  display: flex;
  margin: 15px 0;
  align-items: center;
  span {
    width: 25px;
  }
  &.helper {
    span {
      color: var(--grey);
    }
    z-index: 1;
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
  }
}

.setlist__dragzone {
  position: relative;

  .list-group {
    min-height: 1px;
    .list-group-item {
      z-index: 2;
    }
  }
}