:root {
  --black: #1c1c1c;
  --ivory: #f7f7f2;
  --orange: #ff7e17;
  --pink: #ff5e5b;
  --purple: #390099;
  --light-grey: #f9f9f9;
  --grey: #bdbdbd;
}

body {
  margin: 0;
}

@import "./components/text.scss";

@import "./components/layout.scss";
@import "./components/sidebar.scss";

@import "./components/actions.scss";



