.action__add, .action__next, .action__back {
  display: inline-block;
  position: relative;
  background-color: var(--pink);
  width: 20px;
  height: 20px;
  border-radius: 12px;
  box-shadow: 0px 2px 10px rgba(255, 94, 91, 0.2);
  transition: all .3s ease-in-out;
  &:before {
    position: absolute;
    color: white;
    top: 10px;
    left: 10px;
    font-size: 12px;
    transform: translate(-50%,-50%);
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0px 8px 10px rgba(255, 94, 91, 0.2);
  }
}

.action__next {
  margin-left: 25px;
}

.actions__header {
  display: flex;
  align-items: center;
  width: 100%;
  .actions__links {
    margin-left: auto;
  }
}