.main {
  max-width: calc(100% - 282px);
  margin-left: 282px;
}

.container {
  max-width: calc(100% - 120px);
  margin: 30px 60px;
}

@media screen and (max-width: 780px) {
  .main {
    max-width: 100%;
    margin-left: 0;
    margin-top: 52px;
  }
  .container {
    margin-top: 75px;
    max-width: 100%;
  }
}